
.stroke-success {
  stroke: theme-color("success");
}

.stroke-danger {
  stroke: theme-color("danger");
}

.stroke-warning {
  stroke: theme-color("warning");
}

.stroke-info {
  stroke: theme-color("info");
}
