

@import 'styles/variables';
@import 'styles/forms';
@import "styles/common";
@import "styles/tab";
@import "styles/modal";
@import "styles/card";
@import "styles/states";
@import "styles/toast";
@import "styles/circle-indicator";
@import '../node_modules/bootstrap/scss/bootstrap';
