
$enable-rounded:            false !default;
$enable-shadows:            true !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;
$enable-gradients:          true !default;

$font-size-base: .95rem !default;

$padding-y: .5rem;

$btn-border-radius: 0;

$zindex-tooltip: 9999 !default;
